*
{
	margin: 0px;
}

body
{
	background-color: rgba(43, 179, 25, 0.19);
	margin-left:15%;
	margin-right:15%;
}

p
{
	color: black;
}

ul
{
	padding:20px;
	list-style: 
}

hero
{
	color:yellow;
}

.A25, .A40
{
	float: left;
	text-align: center;
	margin-bottom: 30px;
}

.A25
{
	width:25%;
	background-color: rgba(241, 129, 129, 0.23);
}

.A40
{
	width:50%;
	background-color: #f4ddf5;
}

#thisNav ul
{
	list-style-type: none;
}

#thisNav a
{
	text-decoration: none;
	color:white;
}

#thisNav
{
	background-color: #444343;
}

h1, h2, h3, h4
{
    margin-top:15px;
    margin-bottom:15px;
}

/* CSS that was hard-coded into the HTML page before */
H2{ color:blue; }

h4{color:rgb(222,31,187);}

em {color:rgb(25,140,179);}

strong {color:pink;}

p{color:black;}

#id1 {color:white;background-color: black}

.class1 {background-color:rgb(201,0,175); color: white;}

.class2 {color:white;}

p
{
    margin-left:20px;
}
